<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			.dot_nogrow {
				display: flex;
				flex-grow: 0;
				padding: 5px;
				flex-direction: column;
			}
			.dot {
				display: flex;
				flex-grow: 1;
				padding: 5px;
				flex-direction: column;
			}
			.dot_label {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 5px;
				min-height: 3em;
			}
			.dot_input {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 5px;
				min-height: 3em;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div style="display:flex;" >
				<div class="dot">
					<div class="dot_label">
						
					</div>
					<div class="dot_input">
  						Very Poor
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						1
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						2
					</div>
					<div class="dot_input">
						<input type="radio" name="exampleRadios">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						3
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						4
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						5
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios">
					</div>
				</div>

				<div class="dot">
					<div class="dot_label">
						
					</div>
					<div class="dot_input">
  						Very Good
					</div>
				</div>
			</div>
			<hr />
			<div style="display:flex;" >
				<div class="dot">
					<div class="dot_label">
						Very Poor
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios2">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						Poor
					</div>
					<div class="dot_input">
						<input type="radio" name="exampleRadios2">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						Neutral
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios2">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						Good
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios2">
					</div>
				</div>
				<div class="dot">
					<div class="dot_label">
						Very Good
					</div>
					<div class="dot_input">
  						<input type="radio" name="exampleRadios2">
					</div>
				</div>
			</div>
			<hr />
			<div style="display:flex">
				<div class="dot_nogrow"> Very Poor</div>
				<div class="dot">
					<input type="range" class="custom-range" min="0" max="4" id="customRange2">
				</div>
				<div class="dot_nogrow"> Very Good </div>
			</div>
			<hr />
			<div style="display:flex">
				<!-- <div class="dot_nogrow"> Very Good</div> -->
				<div class="dot">
				<form name="myform" 
					  oninput="range1value.value = labels[range1.valueAsNumber];updateLocation(range1.valueAsNumber);">
  					<input name="range1" class="custom-range" type="range" step="1" min="0" max="4" value="2">  
  			<output id="range1value" name="range1value" for="range1" style="position:relative;" >Neutral</output>
				</form>
				</div>
				<!-- <div class="dot_nogrow"> Very Poor </div> -->
			</div>
			<script>
				var labels = ['Very Poor', 'Poor', 'Neutral', 'Good', 'Very Good']
	
				function updateLocation(i) {
					item = document.getElementById('range1value');
					halfWidth = item.offsetWidth / 2
					left = i * 0.25 * 100
					item.style.left = 'calc(' + left + '% - ' + halfWidth + 'px)';
				}

				updateLocation(2);
			</script>

			<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
</div>
		</div>
	</body>
</html>
