// rr - Room Reservation

$reservation-color: #f2f2f2; 

.rr-calendar-times {
	width:50px;
}

.rr-calendar-day {
    display: block;
	position: relative;
    height: 600px;
}

.rr-calendar-hour {
    display: block;
    position: relative;
    border-top: 1px solid #000;
    height: 0px;
}

.rr-calendar-reservation {
    display:flex;
    position: relative;
    background-color: $reservation-color;
    border: 1px solid #ccc !important;
    padding: 4px;
	flex-wrap: wrap;
}

.rr-reservation-info{
}

.rr-reservation-actions{
    display:flex;
	flex-grow: 1;
	justify-content:flex-end;
	align-items:flex-end;
}

