{% extends 'base.html' %}
{% block title %}Questionnaires - {{ block.super }}{% endblock %}
{% block content %}
    <p>There are multiple questionnaires that you should fill in:</p>
    <div class="list-group col-8">
        {% for questionnaire in questionnaire_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'peer_review:answer' questionnaire.id %}">
            <div class="left-and-right align-middle">
                <span class="mt-1">{{ questionnaire.title }}</span>
                <button class="btn btn-primary">Start</button>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}