{% extends 'base.html' %}

{% block title %}
    Overview Questionnaires - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="col-8">
        <div>
            <h4>Questionnaires</h4>
			{% if open_questionnaires or questionnaires_in_progress %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Available Until</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
                    {% for questionnaire in questionnaires_in_progress %}
                        <tr>
                            <td>{{ questionnaire.title }}</td>
                            <td>{{ questionnaire.get_until_date|default_if_none:'Closed' }}</td>
                            <td>
                                {% if questionnaire.is_open %}
                                    <a class="btn btn-primary" role="button" href="{% url 'questionnaires:questionnaire' questionnaire.pk %}">Continue</a>
                                {% elif questionnaire.is_late %}
                                    <a class="btn btn-primary" role="button" href="{% url 'questionnaires:questionnaire' questionnaire.pk %}">Continue (Late)</a>
                                {% else %}
                                    <a class="btn btn-primary disabled" role="button" href="#">Continue</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for questionnaire in open_questionnaires %}
							<tr>
								<td>{{ questionnaire.title }}</td>
								<td>{{ questionnaire.get_until_date|default_if_none:'Closed' }}</td>
								<td>
									{% if questionnaire.is_open %}
										<a class="btn btn-primary" role="button" href="{% url 'questionnaires:questionnaire' questionnaire.pk %}">Start</a>
									{% elif questionnaire.is_late %}
										<a class="btn btn-primary" role="button" href="{% url 'questionnaires:questionnaire' questionnaire.pk %}">Start Late</a>
									{% else %}
										<a class="btn btn-primary disabled" role="button" href="#">Start</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					No questionnaires available.
				</p>
			{% endif %}
        </div>

		{% if submissions %}
        <div>
            <h4>Submissions</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Submission Date</th>
                        <th scope="col">On Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                        <tr>
                            <td>{{ submission.questionnaire.title }}</td>
                            <td>{{ submission.created }}</td>
                            <td>
                                {% if submission.late %}
                                    <i class="fas fa-times"></i>
                                {% else %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
		{% endif %}
    </div>
{% endblock %}
