{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    {{form.questionnaire.title}} - Questionnaire - {{ block.super }}
{% endblock %}

{% block header_image_container %}
{% endblock %}

{% block content %}
  {% if form.no_peers_warning %}
    <p class="text-danger">This questionnaire contains questions about your team members, but you are either not in a project, or your project has no other peers.</p>
  {% endif %}
	<h1 class="mt-2">{{form.questionnaire.title}}</h1>
    {% bootstrap_form_errors form %}
    <form method="post" class="row">
        {% csrf_token %}
        {% for field in form %}
			{% ifchanged field.label %}
				<div class="col-12">
					<hr/>
					<h4>{{ field.label }}</h4>
				</div>
			{% endifchanged %}
			<div class="col-2">
                {% if field.field.is_comments_field %}
                    <p class="font-italic">Comments</p>
                {% else %}
                    <p class="fw-bold"> {{ field.field.peer }}</p>
                {% endif %}
			</div>
			<div class="col-10 col-lg-10">
				{% bootstrap_field field show_label=False %}
            </div>
        {% endfor %}
		<div class="col-12 mb-5">
            {% bootstrap_button "Save" name="save" value="save" button_type="submit" button_class="btn-primary" %}
            {% bootstrap_button "Submit" name="submit" value="submit" button_type="submit" button_class="btn-secondary" %}
        </div>
    </form>
{% endblock %}
