.object-tools a.gsuiteLink {
  background-image: url(../img/Google_G_Logo.svg);
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 17px 17px;
  padding-right: 32px;
}