.object-tools a.gsuiteLink {
  background-image: url(../img/Google_G_Logo.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;
  padding-right: 32px;
}