{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block content %}
<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">

<form method="post" class="form">
    {% csrf_token %}
	{% bootstrap_form form %}
	<input type="hidden" name="pk" value="{%if object %}{{object.pk}}{% else %}-1{%endif%}" />
    {% buttons %}
    <input type="submit" class="btn btn-primary" value="Submit"/>
    {% endbuttons %}
</form>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}" ></script>
<script>
    $(function () {
      $("#id_start_time").datetimepicker({
      format: 'Y-m-d H:i',
      });
    });

    $(function () {
      $("#id_end_time").datetimepicker({
      format: 'Y-m-d H:i',
      });
    });
</script>
{% endblock %}
