{% extends 'base.html' %}
{% block title %}Lectures - {{ block.super }}{% endblock %}
{% block content %}

    {% for course, lectures in courses %}
        <div class="course">
            <h2 class="section-title">{{ course }} - {{ lecture_semester }}</h2>

            {% if not lectures %}
                <h5>No lectures found</h5>
            {% else %}
                {% if lectures|length > 1 %}
                    <div class="accordion" id="lectures-accordion" >
                {% endif %}
                        {% for lecture in lectures %}
                            <div class="card">
                                <div class="card-header bg-primary" id="heading-lecture-{{ lecture.pk }}">
                                    <h2 class="card-header-text left-and-right mb-0">
                                        <button class="btn btn-link text-white" type="button" data-bs-toggle="collapse" data-bs-target="#lecture-{{ lecture.pk }}" aria-expanded="false" aria-controls="lecture-{{ lecture.pk }}">
                                            {{ lecture.date }} - {{ lecture.title }}
                                        </button>
                                        <button class="btn btn-link text-white" type="button" data-bs-toggle="collapse" data-bs-target="#lecture-{{ lecture.pk }}" aria-expanded="false" aria-controls="lecture-{{ lecture.pk }}">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div class="collapse" id="lecture-{{ lecture.pk }}" aria-labelledby="heading-lecture-{{ lecture.pk }}">
                                    <div class="card-body">
                                        <div class="table-responsive align-baseline">
                                            <table class="table table-borderless table-sm">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Teacher</th>
                                                        <td>{{ lecture.teacher|default:"-" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Location</th>
                                                        <td>{{ lecture.location|default:"-" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            {% if lecture.slides %}
                                                                <a href="{{ lecture.slides.url }}">Download Slides</a>
                                                            {% else %}
                                                                No slides available
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            {% if lecture.description %}
                                                {{ lecture.description|linebreaks }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% if lectures|length > 1 %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
