{# You always use this line, so the base template and style is loaded #}
{% extends 'base.html' %}
{% block content %}
<h1>GiPHouse website</h1>
<p>

<h4>What is GiPHouse?</h4>
<p>GiPHouse is a virtual software company of the Radboud University Nijmegen, which has already been active for more
    than 25 years. GiPHouse is entirely run by students and is divided in two main parts, which run independently from
    each other in the spring and fall semester (each part is active for half a year).

</p><p>The part in the spring semester is about software projects for companies/customers. In the courses Software
    Engineering (bachelor) and System Development Management (master) students get a role in the GiPHouse company. This
    role can be a management role (managing a project group, or even managing the whole company) or a developer role
    (developing software for a customer). The teachers don't have an active role, but are present to assist and to
    intervene if something bad happens to a project. They also give lectures about software development. These courses
    only run for one semester. This means that GiPHouse gets new employees every half a year. All software projects are
    developed using an agile development method (scrum).</p>

<p>The part in the fall semester is about starting your own company. In the master courses System Development
    Entrepreneurship and Software Development in Start-ups students are tasked with starting a software development
    company, which will develop a software project based on a central theme. For example the theme for 2015 is
    'Velocity' and everything about biking. Information about the 2015 projects can be found at the
    <a href="/projects">projects</a> page.</p>

<p>For students working with GiPHouse is a perfect opportunity to get some experience in starting a company (fall
    semester) or in working in a corporate environment (spring semester). Most students like working within GiPHouse and
    find it an interesting part of their study.</p>

<p>In the diagram on the left the general structure of GiPHouse is shown. Note that GiPHouse is a dynamic company, which
    means that is not always up to date.</p>

<!--TODO: Fix een button-->
<p><br><a href="/contact/" class="btn btn-theme">Contact Us</a></p>

</p>
{% endblock %}