{% extends 'base.html' %}
{% load static %}
{% block title %}About - {{ block.super }}{% endblock %}
{% block content %}
    <h3>What is GiPHouse?</h3>
    <p>GiPHouse is a virtual software company of the Radboud University Nijmegen, which has already been active for more than 25 years.
        GiPHouse is entirely run by students and is divided into two parts, which run independently from each other in the spring and fall semesters.</p>

    <h3>Our activities</h3>
    <p>During every first half of the calendar year (spring semester), GiPHouse develops software for paying customers. These projects are completely developed by students, who get credits for successfully participating in the courses that are linked to GiPHouse. Working on these projects is the main focus of the courses. Project teams usually consist of six to eight engineers (bachelor students) and a one to three project managers (master students).</p>
    <p>During the second half of the calendar year (fall semester), a master about beginning a start-up course is given. In this course, students are tasked with developing software around a central theme. This software will hopefully be the start of a real start-up, which could go on even after the course is finished.</p>
    <p>For students, working for GiPHouse is a perfect opportunity to get some real-life experience as a software developer, as a project manager or with creating a start-up.</p>

    <h5>Spring semester</h5>
    <ul>
        <li>From February until July,</li>
        <li>Project engineers (bachelor students),</li>
        <li>Project managers (master students),</li>
        <li>6 ec (168 hours) project work per student and</li>
        <li>Agile development.</li>
    </ul>

    <h5>Fall semester</h5>
    <ul>
        <li>From September until January,</li>
        <li>For master students,</li>
        <li>6 ec (168 hours) project work per student,</li>
        <li>Course about entrepreneurship and</li>
        <li>Agile development.</li>
    </ul>

    <h4>Time division and documentation</h4>
    <p>Besides developing the software, we also expect students to spend time on team meetings, meetings with their customers, writing documentation and other important project-related work.</p>

    <p>For the spring semester, we expect students to</p>
    <ul>
        <li>Do three sprints, where each sprint finishes with a working product,</li>
        <li>Give three intermediate presentations (one per sprint),</li>
        <li>Write a project plan (way of working),</li>
        <li>Write a design document,</li>
        <li>Write a requirements document,</li>
        <li>Write a technical design document,</li>
        <li>Write a functional design document and</li>
        <li>Document the executed and implemented tests.</li>
    </ul>

    <p>For the fall semester, we expect students to</p>
    <ul>
        <li>Do three sprints, where each sprint finishes with a working product,</li>
        <li>Give three intermediate presentations,</li>
        <li>Be part of a hackaton/bootcamp at the beginning of the course,</li>
        <li>Start their own company,</li>
        <li>Deliver a working software product/service,</li>
        <li>Use a cloud service as hosting platform,</li>
        <li>Write a project plan (way of working) and</li>
        <li>Document the executed and implemented tests.</li>
    </ul>

    <p>The students are usually free to choose their favourite programming language and platform, barring client wishes. Most students have experience with C++, Python and Java but other languages could also be an option.</p>
    <p>At the end of the spring semester, the customer has to judge the quality of the product and the team-customer collaboration. The final grade for the course is an average of the customer judgement and a judgement of the teachers.</p>

    <h4>GiPHouse Structure</h4>
	<p>Within GiPHouse we simulate an actual corporate experience, we will try to explain the structure of the organization below. At the bottom of the page is a graphical representation of this structure.</p>

    <h5>Teachers</h5>
	<p>Although the teachers do not have a concrete function within the organization, they are crucial for the courses surrounding GiPHouse. The teachers are responsible for the course material and the grading of the students.</p>

	<h5>Executive Board (Student Assistants) </h5>
	<p>GiPHouse is ran by the student assistants involved with the courses Software Engineering (SE) and Software Development Management (SDM). These students are responsible for the acquisition of projects and trying to ensure the success of every project. The board deals with most issues that the directors can not deal with and takes care of the contact with the teachers to ensure a smooth experience for students of the combination of the course and the company. </p>

	<h5>Directors (Students SDM) </h5>
	<p>The directors aid the student assistants and the teachers in keeping track of the progress of the teams. This means the directors will keep track of the progress of the various teams through reports and interaction with the managers of the teams. This progress is then reported to the executive board of GiPHouse through reports and discussion of all the teams. One pair of directors is responsible for several teams on which they will report, the other teams are covered by different director pairs. </p>

	<h5>Managers (SDM Students) </h5>
	<p>Every team has two or three managers whose responsibility it is to manage the project. The managers are responsible for the documentation for the directors, ensuring the expectations of the clients are managed correctly and steering the agile development process. </p>

	<h5>Engineers (Students SE) </h5>
	<p>Engineers are responsible for the code that is delivered at the end of the project. Aside from creating the features the client desires, they are also responsible for eventuel documentation and the testing of the code.</p>

    <h4>Issues</h4>
    <p>For employees the general approach to take when a problem arises is to contact the person that is one layer within the organization above you (e.g. engineers contact managers and managers contact directors). If this does not solve the problem or there is an issue with the person one layer above you, then you contact one layer higher. </p>
    <p>For clients we recommend contacting the managers when a problem emerges. If the problem lies with the managers or contact with the managers is not fruitful, please contact the directors.</p>
    <img src="{% static "img/org_chart.png" %}" alt="Organizational chart" class="img-fluid">


{% endblock %}
