{% load static sass_tags bootstrap4 menu %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}GiPHouse{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <!-- build commit: {{ COMMIT_HASH }} -->
</head>
<body>
{% render_main_menu %}

<div class="container pt-4">
    {% if messages %}
        {% for message in messages %}
            {% bootstrap_alert message alert_type=message.extra_tags dismissible=True %}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
