{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}GiPHouse{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
{% include 'header.html' %}

<div class="container pt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.extra_tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

{% include 'footer.html' %}

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
