{% load static sass_tags django_bootstrap5 menu %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}GiPHouse{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}" type="text/css">

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'img/favicon/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <!-- build commit: {{ COMMIT_HASH }} -->
</head>
<body>
{% render_main_menu %}

<header id="page-header">
    {% block header_image_container %}
        <img src="{% block header_image %}{% static "img/huygens.jpg" %}{% endblock header_image %}" class="w-100" alt="header"/>
    {% endblock header_image_container %}
</header>
<div class="container pt-4 pb-5">
    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
