{% extends 'base.html' %}
{% block title %}Contact - {{ block.super }}{% endblock %}
{% block content %}
<h1>GiPHouse website</h1>
<p>

<h3 id="about-us">About us</h3>
<p>GiPHouse is a unique student-run company that develops software and practices entrepreneurship at the Radboud
    University.</p>

<br>
<h3 id="our-address">Our Address</h3>

<p>Toernooiveld 200, Room M1.0.13</p>

<p>6525 EC, Nijmegen</p>

<p>The Netherlands</p>

<p>Email: directors [AT] giphouse.nl</p>

<p>Tel: +31 243652445</p>

<br>


</p>
{% endblock %}