{% extends 'base.html' %}
{% block title %}Contact - {{ block.super }}{% endblock %}
{% block content %}

    <h1>Contact Information</h1>

    <p>If you want more information or are interested in doing a project with GiPHouse, you can email us.</p>

    <div class="row">
        <div class="col-lg-5">
            <h4>Address </h4>
            <address>
                <ul class="list-unstyled">
                    <li class="font-weight-bold">GiPHouse</li>
                    <li>Toernooiveld 200, Room M1.0.13</li>
                    <li>6525 EC, Nijmegen</li>
                    <li>The Netherlands</li>
                    <li>Email: directors [AT] giphouse.nl</li>
                </ul>
            </address>
        </div>

        <div class="col-lg-5">
            <h4>Social Links</h4>
            <ul class="list-unstyled">
                <li><i class="fab fa-github"></i> <a href="https://github.com/Giphouse" class="btn-social btn-outline">Github</a></li>
                <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/giphouse" class="btn-social btn-outline">Twitter</a></li>
                <li><i class="fab fa-linkedin"></i> <a href="https://nl.linkedin.com/in/giphouse" class="btn-social btn-outline">LinkedIn</a></li>
            </ul>

        </div>
    </div>

{% endblock %}
