{% extends 'base.html' %}
{% block title %}Contact - {{ block.super }}{% endblock %}
{% block content %}
    <h1>Contact Information</h1>
    <p>If you want more information or are interested in doing a project with GiPHouse, you can email us.</p>

    <div class="row">
        <div class="col-lg-5">
            <h4>Address </h4>
            <address>
                <ul class="list-unstyled">
                    <li class="fw-bold">GiPHouse</li>
                    <li>Toernooiveld 200, Room M1.0.13</li>
                    <li>6525 EC, Nijmegen</li>
                    <li>The Netherlands</li>
                    <li>Email: <a href="mailto:directors@giphouse.nl">directors@giphouse.nl</a>
                    <ul>
                        <li>teachers@giphouse.nl</li>
                        <li>directors@giphouse.nl</li>
                        <li>ceo@giphouse.nl</li>
                        <li>secretary@giphouse.nl</li>
                        <li>info@giphouse.nl</li>
                        <li>it@giphouse.nl</li>
                        <li>postmaster@giphouse.nl</li>
                        <li>netmaster@giphouse.nl</li>
                        <li>abuse@giphouse.nl</li>
                        <li>sales@giphouse.nl</li>
                        <li>facilities@giphouse.nl</li>
                        <li>hr@giphouse.nl</li>
                        <li>qa@giphouse.nl</li>
                        <li>support@giphouse.nl</li>
                    </ul></li>
                </ul>
            </address>
        </div>

        <div class="col-lg-5">
            <h4>Social Links</h4>
            <ul class="list-unstyled">
                <li><i class="fab fa-github"></i> <a href="https://github.com/Giphouse" class="btn-social btn-outline">Github Organization</a></li>
                <li><i class="fab fa-github"></i> <a href="https://github.com/Giphouse/Website" class="btn-social btn-outline">This website is open source!</a></li>
                <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/giphouse" class="btn-social btn-outline">Twitter</a></li>
                <li><i class="fab fa-linkedin"></i> <a href="https://nl.linkedin.com/in/giphouse" class="btn-social btn-outline">LinkedIn</a></li>
            </ul>

        </div>
    </div>

{% endblock %}
