<div class="container pt-4">
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <h4>About</h4>
            <div class="hline-w"></div>
            <p>GiPHouse is a unique student-run company that develops software and practices entrepreneurship at the
                Radboud University.</p>
        </div>
        <div class="col-lg-4">
            <h4>Social Links</h4>
            <div class="hline-w"></div>
            <ul>
                <li><a href="https://github.com/Giphouse" class="btn-social btn-outline">Github</a></li>
                <li><a href="https://twitter.com/giphouse" class="btn-social btn-outline">Twitter</a></li>
                <li><a href="https://nl.linkedin.com/in/giphouse" class="btn-social btn-outline">LinkedIn</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h4>Contact information</h4>
            <div class="hline-w"></div>
            <p>

                Toernooiveld 200, Room M1.0.13 <br>

                6525 EC, Nijmegen <br>

                The Netherlands <br>

            </p>
        </div>
    </div>
</div>
