<div class="container pt-4 relative-bottom">
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h4>About</h4>
            <hr>
            <p>GiPHouse is a unique student-run company that develops software and practices entrepreneurship at the Radboud University.</p>
        </div>

        <div class="col-lg-4">
            <h4>Social Links</h4>
            <hr>
            <ul class="list-unstyled">
                <li><i class="fab fa-github"></i> <a href="https://github.com/Giphouse" class="btn-social btn-outline">Github</a></li>
                <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/giphouse" class="btn-social btn-outline">Twitter</a></li>
                <li><i class="fab fa-linkedin"></i> <a href="https://nl.linkedin.com/in/giphouse" class="btn-social btn-outline">LinkedIn</a></li>
            </ul>
        </div>

        <div class="col-lg-4">
            <h4>Contact Information</h4>
            <hr>
            <address>
                Toernooiveld 200, Room M1.0.13<br>
                6525 EC, Nijmegen<br>
                The Netherlands
            </address>
        </div>
    </div>
</div>
