{% load github_tags %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">GiPHouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'about' %}">About GiPHouse</a>
                        <a class="dropdown-item" href="{% url 'wayofworking' %}">Way of working</a>
                    </div>
                </li>

                {% if semesters %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course Content</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for semester in semesters %}
                                <a class="dropdown-item" href="{% url 'courses:lectures' semester.year semester.season %}">{{ semester }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if semesters %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for semester in semesters %}
                                <a class="dropdown-item" href="{% url 'projects:projects' semester.year semester.season %}">{{ semester }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            	<li class="nav-item">
					<a class="nav-link" href="{% url 'room_reservation:calendar' %}">Room Reservation</a>
				</li>
                {% if questionnaires|length > 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'peer_review:overview' %}">Peer Review</a>
                    </li>
                {% elif questionnaires|length == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'peer_review:answer' questionnaires.0.id %}">Peer Review</a>
                    </li>
                {% endif %}
            </ul>


            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    {% if not request.user.is_authenticated %}
                    <a href="{% url_github_callback 'login' %}" class="nav-link">
                        <i class="fab fa-github"></i> Login with GitHub
                    </a>
                    {% else %}
                    <a class="nav-link" href="{%  url 'logout' %}">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
