{% extends 'base.html' %}
{% block title %}Way of working - {{ block.super }}{% endblock %}
{% block content %}
    <div class="col-md-8 col-xs-12 col-md-offset-2">
        <h3 id="our-activities">Our activities</h3>
        <p>During every first half of the calendar year (spring semester) GiPHouse develops software projects for paying customers. These projects are completely developed by students, who get credits for successfully participating in the courses that are linked to GiPHouse. Working on these projects is of course a central part of the courses. Project teams usually consist of four to five project members (bachelor students) and a project manager (master student).</p>

        <p>During the second half of the calendar year (fall semester) different courses are given. These master courses are all about beginning a start-up. In these
        courses students are tasked with developing some software around a central theme. This software will hopefully be the start of a real start-up, which could go on even after the course is finished!</p>

        <h3 id="spring-semester">Spring semester</h3>
        <ul>
            <li>From February until July</li>
            <li>For bachelor students (project members)</li>
            <li>One master student as project manager</li>
            <li>4 ec (112 hours) project work per student</li>
            <li>Agile development</li>
        </ul>

        <h3 id="fall-semester">Fall semester</h3>
        <ul>
            <li>From September until January</li>
            <li>For master students</li>
            <li>6 ec (168 hours) project work per student</li>
            <li>Courses about entrepreneurship</li>
            <li>Agile development</li>
        </ul>

        <h3 id="time-division-and-documentation">Time division and documentation</h3>
        <p>We naturally don’t expect from the students to spend all of their time on
        developing software. We also expect them to spend time on team meetings, meetings with their customers, writing documentation and other important project-related work.</p>

        <p>For the spring semester, we expect students to show:</p>
        <ul>
            <li>3 sprints, where each sprint finishes with a working product</li>
            <li>3 intermediate presentations (1 per sprint)</li>
            <li>Project plan (way of working)</li>
            <li>Design document</li>
            <li>Requirements document</li>
            <li>Technical design document</li>
            <li>Functional design documentmr</li>
            <li>Document that describes the executed and implemented tests</li>
        </ul>

        <p>For the fall semester, we expect students to show:</p>
        <ul>
            <li>3 sprints, where each sprint finishes with a working product</li>
            <li>3 intermediate presentations</li>
            <li>Be part of a’hackaton’/bootcamp in the beginning of the course</li>
            <li>Start with their own company</li>
            <li>Deliver a working software product/service</li>
            <li>Use a cloud service as hosting platform</li>
            <li>Project plan (way of working)</li>
            <li>Document that describes the executed and implemented tests</li>
        </ul>

        <p>The students are usually free to choose their favourite programming
        language and platform, barring client wishes. Most students have experience with C++, Python and Java but other languages could also be an option.</p>

        <p>At the end of the spring semester feedback from the customer is asked: the
        customer has to judge the quality of the product and the team-customer
        collaboration. The final grade for the course is an average of the customer
        judgement and a judgement of the teachers.</p>

        <h3 id="what-is-important-for-you-as-a-customer">What is important for you as a customer?</h3>
        <p>Running a project within GiPHouse (spring semester) is possible for only €300,-.
        This is a fixed price and the money will mainly be used for project-related costs like printing, travelling and administrative costs. We also need to occasionally upgrade or buy new hardware. Note that this money is not used to pay students for their work: they get a reward for their work in the form of study credits.</p>

        <p>Because GiPHouse is working with students, and not with paid professionals
        means that we cannot guarantee that every project will be completely up to par with the customers’ wishes. We will try to actively mitigate this: By
        emphasising good communication between students and the customers we try to make the customer satisfaction and collaboration as good as possible. We know from experience that most projects are finished or mostly finished and
        customers are predominantly satisfied with us.</p>

        <p>Please notice that handing in a project proposal does not mean that your project will be accepted for development. This is because we cannot know in advance how many students will participate in the relevant courses and because we usually get more projects than participating students.</p>

        <br>
    </div>
{% endblock %}