.object-tools a.githubLink {
  background-image: url(../img/github-brands.svg);
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 17px 17px;
  padding-right: 32px;
}