<div id="projectwidget{{obj.id}}">
    {{field}}
</div>
<script type="text/javascript">
    var csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;
    if ("{{ project_id }}") document.querySelector('#projectwidget{{obj.id}} option[value="{{project_id}}"]').selected=true;
    document.querySelector('#projectwidget{{obj.id}}').onchange = () => {
      django.jQuery.ajax('{% url 'admin:changeproject' %}', {
        method: 'POST',
        data: {
          id: {{obj.id}},
          project: document.querySelector('#projectwidget{{obj.id}} [name=project]').value,
          csrfmiddlewaretoken: csrf_token
        }
      })
    }
</script>
{% comment %} document.querySelector('[name=project]').value, {% endcomment %}