<form></form>
<form action="{% url 'admin:changeproject' %}" method="post" id="form{{obj.id}}">
    <input id="csrf_token{{obj.id}}" name="csrfmiddlewaretoken" type="hidden" />
    <input name="id" type="hidden" value="{{obj.id}}" />
    {{field}}
    <input type="submit" value="Save">
</form>

<script type="text/javascript">
    var csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;
    document.getElementById("csrf_token{{obj.id}}").value = csrf_token;
    if ("{{ project_id }}") document.querySelector('#form{{obj.id}} option[value="{{project_id}}"]').selected=true;
</script>
